<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/app.js"></script>
    
</head>
<body>
    <main class="main">
        <div class="form-col">
            <form method="post" id="create-listing">
                <div>
                    <h3>Add a Task</h3>    
                </div>
                <input type="text" id="title" placeholder="Input title">
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter the description for task"></textarea>
                <input type="number" id="priority" placeholder="Input priority">
                <button id="submit" type="submit">Add a Task</button>
            </form>
            <form method="post" id="update-listing">
                <div>
                    <h3>Update a Task</h3>    
                </div>
                <input type="text" id="UpdateTitle" placeholder="Input title">
                <textarea name="Description" id="UpdateDescription" cols="30" rows="10" placeholder="Enter the description for task"></textarea>
                <input type="number" id="UpdatePriority" placeholder="Input priority">
                <input type="hidden" id="taskId" placeholder="task">
                <button id="update" type="submit">Update a task</button>
            </form>
        </div>
        <div class="task-col">
            <button onclick="handleGetList()">Get listing</button>
        </div>
        <div class="table-div">
            <table class="get-list">
                <thead style="background-color: #ccc;">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        
    </main>
</body>
</html>
